<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--@Mapper가 얘를 가리키도록 namespace로 패키지명을 지정해준다!  -->
<mapper namespace="com.mybatis.mybatis.mapper.UserMapper">
<!--    실행 결과를 어떤 패키지로 매핑해서 전달할 것인지가 resultType 임 mapper의 결과 타입과 일치해야함-->
    <select id="retrieveAll" resultType="com.mybatis.mybatis.domain.User">
        SELECT user.* FROM user

    </select>

<!--    <select id="getUserList" resultType="User">-->
<!--        SELECT * FROM users-->
<!--        <where>-->
<!--            &lt;!&ndash;            동적 쿼리 &ndash;&gt;-->
<!--            <if test="name != null">-->
<!--                AND name = #{name}-->
<!--            </if>-->
<!--            <if test="email != null">-->
<!--                AND email = #{email}-->
<!--            </if>-->
<!--        </where>-->
<!--    </select>-->
</mapper>