<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="conveniencePayService" class="com.zerobase.comvpay.service.ConveniencePayService">
        <constructor-arg name="paymentInterfaceSet">
            <set>
                <ref bean="moneyAdapter" />
                <ref bean="cardAdapter" />
            </set>
        </constructor-arg>
        <constructor-arg name="discountInterface" ref="discontByConvenience" />
    </bean>

    <bean id="cardAdapter" class="com.zerobase.comvpay.service.CardAdapter" />
    <bean id="moneyAdapter" class="com.zerobase.comvpay.service.MoneyAdapter" />
    <bean id="discontByConvenience" class="com.zerobase.comvpay.service.DiscountInterface" />
    <bean id="discontByPayMethod" class="com.zerobase.comvpay.service.DiscountInterface" />

</beans>